/* Nav Bar CSS */
.my {
    width:80%;
    position:relative;
    margin-left: 70%;
    margin-bottom: 70%;
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


