.profilepic{
    width:30%;
    margin-left:90%;
    margin-top: -90%;
    border: 2px solid;
    border-radius: 10px;
}
.background{
    width:100%;
    height:auto;
}

/* Nav Bar CSS */
.nav>ul{
    color: red;
    text-align:center;
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


